body {
    color: var(--light-grey);
    font-family: Georgia;
    line-height: 1.4;
    font-size: 1.5rem;
    background-color: var(--dark-grey);
}

input[type="number"] {
    color: var(--light-grey);
}

#temp_graph_before::before,
#temp_graph_before2::before,
#temp_graph_current::before,
#temp_graph_current2::before,
#temp_graph_after::before,
#temp_graph_after2::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -0.45em;
    width: 100%;
    height: 4px;
}

#temp_graph_before::before,
#temp_graph_before2::before {
    background-color: var(--blue);
}

#temp_graph_current::before,
#temp_graph_current2::before {
    background-color: var(--green);
}

#temp_graph_after::before,
#temp_graph_after2::before {
    background-color: var(--red);
}

@keyframes temp_rising_anim {
    0% {
        transform: translateX(0);
        border-left-color: var(--dark-grey);
    }

    70% {
        border-left-color: var(--green);
    }

    100% {
        transform: translateX(7px);
        border-left-color: transparent;
    }
}

.temp_graph_rising::after {
    content: "";
    display: block;
    position: relative;
    top: 0.15em;
    left: calc(100% + 13px);
    z-index: 1;

    width: 0;
    height: 0;
    border-left: 0.55em solid red;
    border-top: 0.65em solid transparent;
    border-bottom: 0.65em solid transparent;

    animation: temp_rising_anim 1s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@keyframes temp_decreasing_anim {
    0% {
        transform: translateX(0);
        border-right-color: var(--green);
    }

    70% {
        border-right-color: var(--dark-grey);
    }

    100% {
        transform: translateX(-7px);
        border-right-color: transparent;
    }
}

.temp_graph_decreasing::after {
    content: "";
    display: block;
    position: relative;
    top: 0.15em;
    left: calc(100% - 3px);
    z-index: 1;

    width: 0;
    height: 0;
    border-right: 0.55em solid red;
    border-top: 0.65em solid transparent;
    border-bottom: 0.65em solid transparent;

    animation: temp_decreasing_anim 1s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

.sliders_control {
    position: relative;
    min-height: 25px;
}

.sliders_control input[type="range"] {
    height: 4px;
    width: calc(100% - 2.25rem);
    position: absolute;
    pointer-events: none;
}


.sliders_control input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 1.5rem;
    height: 1.5rem;
}


.slider_sun_rise {
    z-index: 1;
}

.slider_sun_rise::-moz-range-track {
    height: 0;
}

.slider_sun_set::-moz-range-track {
    height: 0;
}
